<% if flash[:error] %>
<h2 style="color:red;"><%= flash[:error] %></h2>
<% end %>
<table>
<tr>
<td><b>Business name</td>
<td><b>Address</td>
</tr>
<tr>
<td><%= @location.business_name %></td>
<td><%= @location.address %></td>
<td></td>
</tr>
</table>
<form method="post" action="/comments/<%= @comment.id %>/edit">
<input type="hidden" name="_method" value="patch">
<input type="hidden" name="location_id" value="<%= @location.id %>">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<textarea name="comment" style="width:100%" maxlength=255><%= @comment.comment %></textarea>
<input type="submit" value="Save comment">
</form>
<form method="post" action="/comments/<%= @comment.id %>/delete">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete comment">
</form>