<h2>Welcome to DockTracker!</h2>
Welcome, <%= current_user.handle %>! (member since <%= current_user.created_at %>.)<br>
Search for a location by address or business name.  Use '%' for wildcard searches.
<style>
td {padding-right:10px;}
</style>
<div class="content">
    <form method="post" action="/locations">
    <label>Address or business name:<input type="text" name="search" value="<%= @search%>"></label><br>
    <input type="submit" value="Search">
    <input type="button" value="Clear" onclick="self.location.href='/locations'">
    </form>
<%if @result.count > 0 %>
    <h3>Search results...</h3>
    <table cellspacing=2 width="600">
       <tr><td></td><td><b>Business</td><td><b>Address</td><td><b>Comments</td></tr>
        <%@result.each do |a|%>
       <tr><td><input type="button" value="SELECT" onclick="self.location.href='/locations/<%= a.id%>'"></td><td><%= a.business_name%></td><td><%= a.address%></td><td align=center><%= a.comments.count%></td></tr>
        <%end%>
    </table>
<%else%>
    <h3>No results for your search.  Try again...</h3>
<%end%>
</div>
