<% if current_user.id == @location.user_id %>
    <form method="post" action="/locations/<%= @location.id %>/edit">
    <input type="hidden" name="_method" value="patch">
    <table>
    <tr>
    <td><b>Business name</td>
    <td><b>Address</td>
    </tr>
    <tr>
    <td><input type="text" name="business_name" value="<%= @location.business_name %>"></td>
    <td><input type="text" name="address" value="<%= @location.address %>"></td>
    </tr>
    </table>
    <input type="submit" value="Update location information"><br>
    </form>
<% else %>
    <table>
    <tr>
    <td><b>Business name</td>
    <td><b>Address</td>
    </tr>
    <tr>
    <td><%= @location.business_name %></td>
    <td><%= @location.address %></td>
    </tr>
    </table>
<% end %>
<%
friendly = "does not have any reports about being"
if @comments
    %>
    <b>Comments: </b><br><br>
    <ul>
    <%  @comments.each do |a|
        %>
        <li>K<%= a.comment %><input type="button" value="edit" onclick="self.location.href='/comments/<%= a.id %>/edit'"></li>
        <%
        end %>
    </ul>
        <%
else
%>
    <b>This location has no comments.</b><br>
<%
end 
%>
This location <%= friendly %> 53 friendly.<br>
<form method="post" action="/comment/new">
<input type="hidden" name="location_id" value="<%= @location.id %>">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<input type="submit" value="Add comment">
</form>